@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	padding: 0;
	margin:0;
	border:0;
	font-family: 'Poppins', sans-serif;
}


.container-fluid{
	height: 100vh;
}

.titre{
	border-radius: 100px;
	border: 2px solid #C28B7C;
	background-color:#C28B7C;
	color:#6e8894;
	width: 20%;
	text-align: center;
	font-size: 3.5em	;
	padding-top: 3%;
	padding-bottom: 1%;
}

.top-buffer{
	margin-top: 35%;
}

.col-6{
	padding: 0;
}
.fond{
	background-color: #e7d7c1;
}

.image{
	height: 100vh;
}
.img-fluid{
	height:100%;
	width: 100%;
}

a {
  color: #85979D;
}

.active {
  color: #C28B7C;
}

nav{
	color: #85979D;
	margin-top: 2%;
	font-size: x-large;
	
}


@media screen and (max-width: 992px) {
	.fond{
	background-image: url('img/large.jpg');
	height: 100vh;
  	background-size: cover;

	}
}